<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"

      layout:decorate="~{layout}">
<title>FA Edit</title>
<body>
<div layout:fragment="content">
  <div class="row mt-1 h-100">
    <div class="col-md-12 h-100">
      <div class="card h-100">
        <div class="card-body p-2 mt-3 ml-1">
          <form id="tabform" th:action="@{/orderdetails/create}" method="post">
            <div th:insert="order_details/order_buttons :: flash_message"></div>
            <nav>
              <div class="nav nav-tabs" role="tablist">



                <a class="nav-item nav-link" id="nav-information-tab"
                   th:href="@{#}" onclick="ontabclick('TAB1'); "
                   aria-controls="nav-information"
                   aria-selected="${currentTab.value == 'order'}? 'true'"
                   th:classappend="${(T(com.mindlease.fa.util.TabValues).TAB1.ordinal() == currentTab.ordinal()? 'active' : '') }">
										<span th:text="#{label.editpage.tab1}" >Order
											information</span>


                </a>

                <a  class="nav-item nav-link" id="nav-geometry-tab"
                    th:href="@{#}" onclick="ontabclick('TAB2'); "
                    aria-controls="nav-geometry"
                    aria-selected="${currentTab.value == 'geometry'}? 'true'"
                    th:classappend="${(T(com.mindlease.fa.util.TabValues).TAB2.ordinal() == currentTab.ordinal()? 'active' : '') }"><span
                        th:text="#{label.editpage.tab2}">Geometry</span>

                </a>


                <a
                        th:href="@{#}" onclick="return ontabclick('TAB3')"
                        class="nav-item nav-link" id="nav-reason-tab"
                        aria-controls="nav-reason"
                        aria-selected="${currentTab.value == 'reason'}? 'true'"
                        th:classappend="${(T(com.mindlease.fa.util.TabValues).TAB3.ordinal() == currentTab.ordinal()? 'active' : '')}"><span
                        th:text="#{label.editpage.tab3}">Reason/description</span></a>

                <a
                        th:href="@{#}" onclick="return ontabclick('TAB4')"
                        class="nav-item nav-link" id="nav-analysis-tab"
                        aria-controls="nav-analysis"
                        aria-selected="${currentTab.value == 'analysis'}? 'true'"
                        th:classappend="${(T(com.mindlease.fa.util.TabValues).TAB4.ordinal() == currentTab.ordinal()? 'active' : '')}"><span
                        th:text="#{label.editpage.tab4}">Analysis methods</span></a>

                <a
                        class="nav-item nav-link" id="nav-description-tab"
                        th:href="@{#}" onclick="return ontabclick('TAB5')"
                        aria-controls="nav-description"
                        aria-selected="${currentTab.value == 'position'}? 'true'"
                        th:classappend="${(T(com.mindlease.fa.util.TabValues).TAB5.ordinal() == currentTab.ordinal()? 'active' : '')}"><span
                        th:text="#{label.editpage.tab5}">Position description</span></a>

                <a
                        class="nav-item nav-link" id="nav-location-tab" th:href="@{#}"
                        onclick="return ontabclick('TAB6')"
                        aria-controls="nav-location"
                        aria-selected="${currentTab.value == 'location'}? 'true'"
                        th:classappend="${(T(com.mindlease.fa.util.TabValues).TAB6.ordinal() == currentTab.ordinal()? 'active' : '')}"><span
                        th:text="#{label.editpage.tab6}">Sample location</span></a>

              </div>
            </nav>
            <input type="hidden" id="id" th:field="*{orderDetails.id}"></input>
            <input type="hidden" id="tab" value="" name="tab"></input>
            <input type="hidden" id="createOrEdit" name="createOrEdit" value="create"/>
            <button id="tabclicksubmit" type="submit" name="action"
                    value="tabclick" style="display: none"></button>

            <!-- Include the clipboard.js library -->
            <script  th:inline="javascript">
                 /*<![CDATA[*/
							function ontabclick(tab) {

									document.getElementById('tab')
											.setAttribute("value", tab);
									document.getElementById('tab1')
									           .setAttribute("value",tab);




                      var orderId = /*[[${orderDetails.id}]]*/ null;
                     // alert(orderId);
                      if(orderId == null){
                      	document.getElementById('continue').click();

                      }else{

                         document.getElementById('tabclicksubmit').click();
                      }





							}

						 var clipboard = new ClipboardJS('#copy-button');

						  clipboard.on('success', function(e) {
						   alert('Link copied to clipboard!');
							console.log('Link copied to clipboard!');
							// You can also show a success message to the user here
						  });

						  clipboard.on('error', function(e) {
						  alert('Failed to copy link to clipboard.')
							console.log('Failed to copy link to clipboard.');
							// You can also show an error message to the user here
						  });

					function openFileExplorer() {
					  const fileInput = document.getElementById("fileInput");
					  const fileName = fileInput.files[0].name;
					  const fileExplorerUrl = `file://192.168.100.12/data`; // Assuming you're using a file:// protocol
					  window.open(fileExplorerUrl);
					}

                /*]]>*/
		</script>



            <script>
						var clipboard = new ClipboardJS('.btn');
						clipboard.on('success', function(e) {
							console.log("Link copied to clipboard");
						});
						clipboard.on('error', function(e) {
							console.error("Failed to copy link to clipboard");
						});
					</script>



          </form>
          <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
            <div class="tab-pane"
                 th:classappend="${currentTab.value == 'order'}? 'show active'"
                 id="nav-information" role="tabpanel"
                 aria-labelledby="nav-information-tab" >
              <div th:if="${currentTab.value == 'order'}"
                   th:insert="order_details/order_information :: order_information(createOrEdit=create)"></div>
            </div>
            <div class="tab-pane"
                 th:classappend="${currentTab.value == 'geometry'}? 'show active'"
                 id="nav-geometry" role="tabpanel"
                 aria-labelledby="nav-geometry-tab" >
              <div th:if="${currentTab.value == 'geometry'}"
                   th:insert="order_details/geometry :: geometry(createOrEdit=create)"></div>
            </div>
            <div class="tab-pane"
                 th:classappend="${currentTab.value == 'reason'}? 'show active'"
                 id="nav-reason"
                 role="tabpanel" aria-labelledby="nav-reason-tab">
              <div th:if="${currentTab.value == 'reason'}"
                   th:insert="order_details/reason :: reason(createOrEdit=create)"></div>
            </div>
            <div class="tab-pane"
                 th:classappend="${currentTab.value == 'analysis'}? 'show active'"
                 id="nav-analysis"
                 role="tabpanel" aria-labelledby="nav-analysis-tab">
              <div th:if="${currentTab.value == 'analysis'}"
                   th:insert="order_details/analysis_methods :: analysis(createOrEdit=create)"></div>
            </div>
            <div class="tab-pane"
                 th:classappend="${currentTab.value == 'position'}? 'show active'"
                 id="nav-description"
                 role="tabpanel" aria-labelledby="nav-description-tab">
              <div  th:if="${currentTab.value == 'position'}"
                    th:insert="order_details/position_description :: position(createOrEdit=create)"></div>
            </div>
            <div class="tab-pane"
                 th:classappend="${currentTab.value == 'location'}? 'show active'"
                 id="nav-location"
                 role="tabpanel" aria-labelledby="nav-location-tab">
              <div th:if="${currentTab.value == 'location'}"

                   th:insert="order_details/sample_location :: location(createOrEdit=create)"></div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>