<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<title>OrdersList</title>

<body>
    <div layout:fragment="content">
        <div class="card mt-1 p-3 h-100">

            <div class="card-body h-100" th:switch="${orderDetailsList}">
                <div th:if="${fromLink == 'search'}">



                    <div>
                        <form th:action="@{/orderdetails/search}" id="searchForm" th:object="${searchParameters}"
                            method="post">

                            <div class="ml-md-3">
                                <div class="form-row p-3">

                                    <p class="alert alert-danger alert-dismissible" th:if="${#fields.hasGlobalErrors()}"
                                        th:each="error : ${#fields.errors('global')}" th:text="${error}"></p>


                                    <!-- 						<div class="form-group col-md-3">
									<label for="sCustomername" class="control-label"><span
										th:text="#{label.sCustomername}">Customer Name</span></label> <input
										id="sCustomername" class="form-control form-control-sm"
										th:field="*{sCustomername}" placeholder="Customer Name" />
								</div>

								<div class="form-group col-md-3">
									<label for="sStatus" class="control-label"><span
										th:text="#{label.sStatus}">Status</span></label> <input id="sStatus"
										class="form-control form-control-sm" th:field="*{sStatus}"
										placeholder="Enter Status" />
								</div>
								<div class="form-group col-md-3">
									<label for="sPriority" class="control-label"><span
										th:text="#{label.sPriority}">Priority</span></label> <input
										id="sPriority" class="form-control form-control-sm"
										th:field="*{sPriority}" placeholder="Priority" />
								</div>
								<div class="form-group col-md-3">
									<label for="sMaterial" class="control-label"><span
										th:text="#{label.sMaterial}">Material</span></label> <input
										id="sMaterial" class="form-control form-control-sm"
										th:field="*{sMaterial}" placeholder="Material" />
								</div>
								<div class="form-group col-md-3">
									<label for="sElectricalError" class="control-label"><span
										th:text="#{label.sElectricalError}">Electrical Error</span></label> <input
										id="sElectricalError" class="form-control form-control-sm"
										th:field="*{sElectricalError}" placeholder="Electrical Error" />
								</div>
								<div class="form-group col-md-3">
									<label for="sFailureMode" class="control-label"><span
										th:text="#{label.sFailureMode}">Failure Mode</span></label> <input
										id="sFailureMode" class="form-control form-control-sm"
										th:field="*{sFailureMode}" placeholder="Enter Failure Mode" />
								</div> -->



                                    <div class="form-group col-md-4">
                                        <div class="col-md-12">
                                            <label for="inputPassword4"><span
                                                    th:text="#{label.editpage.tab1.customer}">Client</span><a href="#"
                                                    data-toggle="tooltip" data-placement="top"
                                                    th:title="#{label.tooltip.client}"><i class="fa fa-info-circle ml-1"
                                                        aria-hidden="true"></i> </a></label>
                                        </div>
                                        <div class="col-md-8">
                                            <input class="form-control form-control-sm custom-select custom-select-sm"
                                                type="text" th:field="*{sCustomername}" list="client"
                                                th:placeholder="#{label.search.placeholder.select.client}"></input>
                                            <datalist id="client">
                                                <option th:each="_customer: ${customersList}"
                                                    th:value="${_customer.pers_short}"
                                                    th:text="${_customer.pers_short}"></option>
                                            </datalist>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <div class="col-md-12">
                                            <label for="inputEmail4"><span
                                                    th:text="#{label.editpage.tab9.processing_status}">
                                                    Status</span><a href="#" data-toggle="tooltip" data-placement="top"
                                                    th:title="#{label.tooltip.processing_status}"><i
                                                        class="fa fa-info-circle ml-1" aria-hidden="true"></i>
                                                </a></label>
                                        </div>
                                        <div class="col-md-8">
                                            <input class="form-control form-control-sm custom-select custom-select-sm"
                                                type="text" th:field="*{sStatus}" list="p_status"
                                                th:placeholder="#{label.search.placeholder.select.status}"></input>
                                            <datalist id="p_status">
                                                <option th:each="_st: ${processStatusList}" 
                                                	th:value="__${#locale}__ == 'de' ? ${_st.nameDe} : ${_st.name}"
                                                    th:text="__${#locale}__ == 'de' ? ${_st.nameDe} : ${_st.name}">
                                                </option>
                                            </datalist>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <div class="col-md-12">
                                            <label for="inputPassword4"><span
                                                    th:text="#{label.editpage.tab1.Priority}">Priority</span><a href="#"
                                                    data-toggle="tooltip" data-placement="top"
                                                    th:title="#{label.tooltip.priority}"><i
                                                        class="fa fa-info-circle ml-1" aria-hidden="true"></i> </a>
                                            </label>
                                        </div>
                                        <div class="col-md-8">
											<input
												class="form-control form-control-sm custom-select custom-select-sm"
												type="text" th:field="*{sPriority}" list="priority"
												th:placeholder="#{label.search.placeholder.select.priority}"></input>
											<datalist id="priority">
												<option th:each="_prio: ${priorityList}"
													th:value="${_prio.id}"
													th:text="__${#locale}__ == 'de'? ${_prio.nameDe} : ${_prio.name}"
													></option>
											</datalist>
										</div>
								<!-- style="width: 370px;" -->
                                        <!-- <div> -->
                                        <!-- <label for="*{sPriority}" th:text="#{label.search.placeholder.select.priority}"></label> -->
                                        <!-- <div class="col-md-8">
                                            <select th:field="*{sPriority}"
                                                class="form-control form-control-sm custom-select custom-select-sm">
                                                <option>Select priority</option>
									        	th:text="#{label.search.placeholder.select.priority}"
									            th:value="" />

                                                <option th:each="_prio: ${priorityList}"
                                                    th:text="__${#locale}__ == 'de'? ${_prio.nameDe} : ${_prio.name}"
                                                    th:value="${_prio.id}"
                                                    th:selected="(${_prio.id == 2}) ? 'selected' : 'none'">
                                            </select>
                                        </div> -->
                                        <!-- </div> -->

                                    </div>


                                    <div class="form-group col-md-4">
                                        <div class="col-md-12">
                                            <label for="inputEmail4"><span
                                                    th:text="#{label.editpage.tab1.type_of_sample_material}">Material
                                                    Type</span><a href="#" data-toggle="tooltip" data-placement="top"
                                                    th:title="#{label.tooltip.material_type}"><i
                                                        class="fa fa-info-circle ml-1" aria-hidden="true"></i>
                                                </a></label>
                                        </div>
                                        <div class="col-md-8">
                                            <input class="form-control form-control-sm custom-select custom-select-sm"
                                                type="text" th:field="*{sMaterial}" list="material"
                                                th:placeholder="#{label.search.placeholder.select.material.type}"></input>
                                            <datalist id="material">
                                                <option th:each="_material: ${materialsList}"
                                                    th:value="__${#locale}__ == 'de' ? ${_material.nameDe} : ${_material.name}"
                                                    th:text="__${#locale}__ == 'de' ? ${_material.nameDe} : ${_material.name}">
                                                </option>
                                            </datalist>
                                        </div>
                                    </div>

                                    <div class="form-group col-md-4">
                                        <div class="col-md-12">
                                            <label for="inputEmail4"><span
                                                    th:text="#{label.editpage.tab3.electrical_error}">Electrical
                                                    Failure</span><a href="#" data-toggle="tooltip" data-placement="top"
                                                    th:title="#{label.tooltip.electrical_error}"><i
                                                        class="fa fa-info-circle ml-1" aria-hidden="true"></i>
                                                </a></label>
                                        </div>
                                        <div class="col-md-8">
                                            <input class="form-control form-control-sm custom-select custom-select-sm"
                                                type="text" th:field="*{sElectricalError}" list="e_error"
                                                th:placeholder="#{label.search.placeholder.select.electric.error}"></input>
                                            <datalist id="e_error">
                                                <option th:each="_err: ${electricErrorList}" 
                                                	th:value="__${#locale}__ == 'de' ? ${_err.nameDe}  : ${_err.name}"
                                                    th:text="__${#locale}__ == 'de' ? ${_err.nameDe}  : ${_err.name}">
                                                </option>
                                            </datalist>
                                        </div>

                                    </div>

                                    <div class="form-group col-md-4">
                                        <div class="col-md-12">
                                            <label for="inputEmail4"><span
                                                    th:text="#{label.editpage.tab3.error_mode}">Failure
                                                    Mode</span><a href="#" data-toggle="tooltip" data-placement="top"
                                                    th:title="#{label.tooltip.error_mode}"><i
                                                        class="fa fa-info-circle ml-1" aria-hidden="true"></i>
                                                </a></label>
                                        </div>
                                        <div class="col-md-8">
                                            <input class="form-control form-control-sm custom-select custom-select-sm"
                                                type="text" th:field="*{sFailureMode}" list="e_mode"
                                                th:placeholder="#{label.search.placeholder.select.e.mode}"></input>
                                            <datalist id="e_mode">
                                                <option th:each="_errorMode: ${failureModeList}"
                                                    th:value="__${#locale}__ == 'de' ? ${_errorMode.nameDe} : ${_errorMode.name}"
                                                    th:text="__${#locale}__ == 'de' ? ${_errorMode.nameDe} : ${_errorMode.name}">
                                                </option>
                                            </datalist>
                                        </div>
                                    </div>
                                    
                                <div class="form-group col-md-4">
								<div class="col-md-12">
									<label for="inputEmail4"><span
										th:text="#{label.editpage.tab7.archive_wafer_box}">Archive
											wafer box</span><a href="#" data-toggle="tooltip"
										data-placement="top"
										th:title="#{label.tooltip.archive_wafer_box}"><i
											class="fa fa-info-circle ml-1" aria-hidden="true"></i> </a></label>
								</div>
								<div class="col-md-8">
									<input class="form-control form-control-sm custom-select custom-select-sm" type="text"
										th:field="*{sArchWaferBox}" list="archive_wf"
										placeholder="Select Archive Wf.box"></input>
									<datalist id="archive_wf">
										<option th:each="_arch: ${archiveList}"
											th:value="__${#locale}__ == 'de' ? ${_arch.nameDe} : ${_arch.name}"
											th:text="__${#locale}__ == 'de' ? ${_arch.nameDe} : ${_arch.name}"></option>
									</datalist>
								</div>
							</div>
							<div class="form-group col-md-4">
								<div class="col-md-12">
									<label for="inputEmail4"><span
										th:text="#{label.editpage.tab7.archive_polystyrene_box}">Archive
											polystyrene box</span><a href="#" data-toggle="tooltip"
										data-placement="top"
										th:title="#{label.tooltip.archive_poly_box}"><i
											class="fa fa-info-circle ml-1" aria-hidden="true"></i> </a></label>
								</div>
								<div class="col-md-8">
									<input class="form-control form-control-sm custom-select custom-select-sm" type="text"
										th:field="*{sArchPolyBox}" list="archive_poly"
										placeholder="Select Archive P.box"></input>
									<datalist id="archive_poly">
										<option th:each="_arch: ${archiveList}"
											th:value="__${#locale}__ == 'de' ? ${_arch.nameDe} : ${_arch.name}"
											th:text="__${#locale}__ == 'de' ? ${_arch.nameDe} : ${_arch.name}"></option>
									</datalist>
								</div>
							</div>
                                    
                                   


                                    <div class="alert alert-danger pull-right" th:if="${flash_searchresults}"
                                        th:text="${flash_searchresults}"></div>
                                    <input type="hidden" id="ln" name="ln" th:value="__${#locale}__"></input> <input
                                        type="hidden" id="pageSize" name="pageSize"
                                        th:value="${#request.getParameter('pageSize')}"></input> <input type="hidden"
                                        id="page" name="page" th:value="${#request.getParameter('page')}"></input>
                                    <input type="hidden" id="fromLink" name="fromLink"
                                        th:value="${#request.getParameter('fromLink')}"></input>


                                    <div class="form-group col-md-3"></div>
                                    <div class="form-group col-md-3">
                                        <!--<button type="submit" class="btn btnbgcolor">
											<span th:text="#{label.Search}">Search</span>
										</button>-->
                                        <button type="button" class="btn btnbgcolor" id="search-button">
                                            <span th:text="#{label.Search}">Search</span>
                                        </button>

                                        <a th:href="@{/orderdetails(fromLink=${'search'})}"><button type="button"
                                                class="btn btnbgcolor">
                                                <span th:text="#{label.cancel}">Cancel</span>
                                            </button></a>
                                    </div>


                                </div>
                            </div>

                        </form>
                    </div>




                    <!-- 
					<div class="row mb-5 justify-content-center">
						<div class="col-lg-8 col-md-8 col-sm-12 p-0">
							<div class="input-group">
								<input id="search-inp" type="text"
									class="form-control search-slt" placeholder="Search Your Order">
								<span class="input-group-prepend">
									<div class="input-group-text bg-transparent">
										<i class="fa fa-search"></i>
									</div>
								</span>
							</div>
						</div>
						
					</div> -->
                </div>
                <div class="row mb-3 text-center">
                    <div class=" col-sm-12 col-md-4 text-md-left">
                        <nav>
                            <ol class="breadcrumb m-0 p-0 bg-white">
                                <li class="breadcrumb-item"><a th:href="@{/home}"><span
                                            th:text="#{label.home}">Home</span></a></li>
                                <li class="breadcrumb-item active" aria-current="page"><span
                                        th:text="#{label.orders}">Orders</span></li>
                            </ol>
                        </nav>

                    </div>
                    <div class="col-sm-12 col-md-4 text-md-center">
                        <h5>
                            <span th:text="#{label.listpage.orders_list}">Orders List</span>
                        </h5>
                    </div>

                    <div class="col-sm-12 col-md-4 text-md-right">
                        <a th:href="@{/orderdetails/create}"><button type="button" class="btn btn-sm btnbgcolor">
                                <i class="fa fa-plus"></i> <span th:text="#{label.menupage.create_new_order}">Create a
                                    new order </span>
                            </button></a>
                    </div>
                </div>


                <div sec:authorize="hasAuthority('SUPER-ADMIN')" id="div-super-admin"></div>
                <input type="hidden" id="localeType" th:name="localeType" th:value="${#locale}"></input> <select
                    style="display: none" id="pageSizeSelect">
                    <option th:each="pageSize : ${pageSizes}" th:text="${pageSize}" th:value="${pageSize}"
                        th:selected="${pageSize} == ${selectedPageSize}"></option>
                </select> <input type="hidden" id="pageSizes" th:name="pageSizes" th:value="${pageSizes}"></input>
                <input type="hidden" id="defaultPageSizes" th:name="defaultPageSizes"
                    th:value="${defaultPageSize}"></input>
                <div>
                    <table id="table_order_1" class="table table-striped table-bordered nowrap" style="width: 100%">
                        <thead>
                            <tr role="row">
                                <th th:text="#{table.header.action}">Action</th>
                                <th th:text="#{table.header.order.no}">Order No</th>
                                <th th:text="#{table.header.date}" class="justify-content-center text-center align-middle">Date</th>
                                <th th:text="#{table.header.customer}" class="justify-content-center text-center align-middle">Customer</th>
                                <th th:text="#{table.header.priority}">Priority</th>
                                <th th:text="#{table.header.material}" class="justify-content-center text-center align-middle">Material</th>
                                <th th:text="#{table.header.lot.id}" class="justify-content-center text-center align-middle">Lot-ID</th>
                                <th th:text="#{table.header.part}" class="justify-content-center text-center align-middle">Part</th>
                                <th th:text="#{table.header.analysis.reason}" class="justify-content-center text-center align-middle">Analysis Reason</th>
                                <th th:text="#{table.header.electrical.error}" class="justify-content-center text-center align-middle">Electrical Failure</th>
                                <th th:text="#{table.header.error.mode}" class="justify-content-center text-center align-middle">Failure Mode</th>
                                <th th:text="#{table.header.fa.editor}" class="justify-content-center text-center align-middle">FA Editor</th>
                            </tr>
                        </thead>
                    </table>
                </div>

            </div>
            <input type="hidden" th:value='#{label.button.csv}' id='csvButtonText'> <input type="hidden"
                th:value='#{label.button.print}' id='printButtonText'> <input type="hidden"
                th:value='#{label.button.copy}' id='copyButtonText'>
            <input type="hidden" th:value='#{label.Search}' id='searchBoxText'>
            <br />

        </div>
        <script th:inline="javascript">

            function getUrlParameter(name) {
                var result = "";
                if (window.location.search.split('?').length > 1) {
                    var params = window.location.search.split('?')[1].split('&');
                    for (var i = 0; i < params.length; i++) {
                        var key = params[i].split('=')[0];
                        if (key == name) {
                            result = decodeURIComponent(params[i].split('=')[1]);
                        }
                    }
                }
                return result;
            }

            $.fn.formToJson = function () {
                return $(this)
                    .serializeArray()
                    .reduce(function (json, { name, value }) {
                        json[name] = value;
                        return json;
                    }, {});
            }

            var pageSizes = $("#pageSizeSelect option").map(function () {
                return this.value;
            }).get();
            var defaultPageSize = $("#defaultPageSizes").val();

            $("#target").submit(function (event) {
                alert("Handler for .submit() called.");
                if (!confirm("Do you want to delete")) {
                    return false;
                }
                event.preventDefault();
            });

            $('#table_order_1 thead tr')
                .clone(true)
                .addClass('filters')
                //.children('th').addClass('sorting')
                .appendTo('#table_order_1 thead');

            var criteria = {}

            var orderDataTable = $('#table_order_1').DataTable({
                orderCellsTop: true,
                //fixedHeader: true, 
                "searching": true,
                "scrollY": '50vh',
                "scrollX": true,
                "scrollCollapse": true,
                "deferRender": true,
                "dom": "Bfrtlp",
                "processing": true,
                "serverSide": true,
                "pagingType": "full_numbers",
                /*"lengthMenu": [ 1, 2, 5, 10, 25, 50, 75, 100 ],
                "pageLength": 5,*/
                "lengthMenu": pageSizes,
                "pageLength": defaultPageSize,
                'ajax': {
                    'contentType': 'application/json',
                    'url': 'orderdetails/orders',
                    //'url': 'orders',
                    'type': 'POST',
                    'data': function (d) {
                        d.externalFilter = criteria;
                        d.externalFilter.sourceLink = getUrlParameter('fromLink');
                        //console.log("======="+JSON.stringify(d));
                        return JSON.stringify(d);
                    }
                },
                "buttons": [{
                    "extend": 'csvHtml5',
                    "text": $("#csvButtonText").val(),
                    "title": 'order_list',
                    "className": 'btn btn-primary',
                    "exportOptions": {
                        "columns": [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
                    }
                }, {
                    "extend": 'excelHtml5',
                    "text": $("#csvButtonText").val(),
                    "title": 'Data export',
                    "className": 'btn btn-primary',
                    "exportOptions": {
                        "columns": [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
                    }
                }, {
                    "extend": 'print',
                    "text": $("#printButtonText").val(),
                    "className": 'btn btn-primary',
                    "orientation": 'landscape',
                    "exportOptions": {
                        "columns": [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
                    }
                }, {
                    "extend": 'copy',
                    "text": $("#copyButtonText").val(),
                    "className": 'btn btn-primary',
                    "exportOptions": {
                        "columns": [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
                    }
                }],
                /*
                "columnDefs":[
                	{
                		targets: 2,
                        render: $.fn.dataTable.render.moment('DD/MM/YYYY', 'MM-DD-YYYY', 'en'),
                	}
                ], */
                "columns": [
                    {
                        /* "title": 'Action', */
                        "orderable": false,
                        "sorting": false,
                        "searchable": false,
                        "data": null,
                        "render": function (data, type, row, meta) {
                            var actionItems = '<table> <tr> <td class="p-0"> '
                            actionItems += '<form action="orderdetails/edit" method="post">'
                                + '<input type="hidden" id="id" name="id" '
                                + 'value="' + data.id + '"></input> <a href="#" '
                                + 'onclick="this.closest(\'form\').submit();return false;" '
                                + 'class="btn btn-success btn-sm"> <i class="fa fa-pencil"></i> '
                                + '</a> </form>';
                            if ($('#div-super-admin').length) {
                                actionItems += '</td> <td class="p-0">';
                                actionItems += '<form action="orderdetails/delete" method="post"> '
                                    + '<input type="hidden" id="id" name="id" '
                                    + ' value="' + data.id + '"></input> <a href="#" '
                                    + ' onclick="if(confirm(\'Are you sure to delete this record?\')){this.closest(\'form\').submit();return false;}" '
                                    + ' class="btn btn-danger btn-sm"> <i class="fa fa-trash"></i> '
                                    + ' </a> </form>';
                            }
                            actionItems += '</td> </tr> </table>';
                            return actionItems;
                        }
                    },
                    {
                        /* "title": 'Order No', */
                        "data": "id",
                        "class":"justify-content-center text-center align-middle"
                    },
                    {
                    	//console.log("======="+JSON.stringify(d));
                    	
                        /* "title": 'Date', */
                        "data": "dbs_fa_date",
                        //"render": $.fn.dataTable.render.moment('DD/MM/YYYY', 'MM-DD-YYYY'),
                        //"render": (data)=>$.fn.dataTable.render.moment(data,'DD/MM/YYYY').formatMoment('MM-DD-YYYY'),
                        "render": (data)=>{return moment(data).format('MM-DD-YYYY')},
                        "class":"justify-content-right text-right align-right"
                    },
                    {
                        /* "title": 'Customer', */
                        /* "data": $('#localeType').val() == 'de' ? "dbs_ag_name_temp" : "dbs_ag_name" */
                        "data" : "dbs_ag_name"
                    },
                    {
                        /* "title": 'Priority', */
                        /* "data": $('#localeType').val() == 'de' ? "dbs_prio_temp" : "dbs_prio", */
                        "data" : "dbs_prio",
                        "class":"justify-content-center text-center align-middle"
                    },
                    {
                        /* "title": 'Material', */
                        "data": $('#localeType').val() == 'de' ? "dbs_material_temp" : "dbs_material"
                    },
                    {
                        /* "title": 'Lot-ID', */
                        "data": "dbs_lotid"
                    },
                    {
                        /* "title": 'Part', */
                        "data": "dbs_part"
                    },
                    {
                        /* "title": 'Analysis Reason', */
                        "data": "dbs_fa_reason"
                    },
                    {
                        /* "title": 'Electrical Error', */
                        "data": $('#localeType').val() == 'de' ? "dbs_elee_temp" : "dbs_elee"
                    },
                    {
                        /* "title": 'Error Mode', */
                        "data": $('#localeType').val() == 'de' ? "dbs_famo_temp" : "dbs_famo"
                    },
                    {
                        /* "title": 'FA Editor', */
                        "data": "dbs_fa_name"
                    }
                ],
                "language": {
                    "paginate": {
                        "first": '<<',
                        "last": '>>',
                        "next": '>',
                        "previous": '<'
                    },
                    "search": $("#searchBoxText").val() + ':'
                },
                "initComplete": function (settings, json) {

                    var api = this.api();

                    // For each column
                    api
                        .columns()
                        .eq(0)
                        .each(function (colIdx) {
                            if (colIdx == 0) {
                                var cell = $('.filters th').eq(
                                    $(api.column(colIdx).header()).index()
                                );
                                $(cell).html('');
                                return;
                            }

                            // Set the header cell to contain the input element
                            var cell = $('.filters th').eq(
                                $(api.column(colIdx).header()).index()
                            );
                            var title = $(cell).text();
                            if (colIdx == 1) {
                            	$(cell).html('<input type="number" placeholder="' + title + '" />');
                            }else{
                            	$(cell).html('<input type="text" placeholder="' + title + '" />');
                            }

                            // On every keypress in this input
                            $(
                                'input',
                                $('.filters th').eq($(api.column(colIdx).header()).index())
                            )
                                .off('keyup change')
                                .on('change', function (e) {
                                    // Get the search value
                                    $(this).attr('title', $(this).val());
                                    var regexr = '({search})'; 

                                    var cursorPosition = this.selectionStart;
                                    // Search the column for that value
                                    api
                                        .column(colIdx)
                                        .search(this.value)
                                        .draw();
                                })
                                .on('keyup', function (e) {
                                    e.stopPropagation();

                                    $(this).trigger('change');
                                    /* $(this)
                                       .focus()[0]
                                       .setSelectionRange(cursorPosition, cursorPosition); */
                                });
                        });


                    $('select[name="table_order_1_length"] option').each(function (e) {
                        if ($(this).val() == -1) {
                            $(this).text('ALL');
                        }
                    });
                    orderDataTable.columns.adjust().draw();
                }

            });
            
            $("#table_order_1_filter input").unbind()
                .bind("input", function (e) {
                    if (this.value.length >= 1 || e.keyCode == 13) {
                        orderDataTable.search(this.value).draw('page');
                    }
                    if (this.value == "") {
                        orderDataTable.search("").draw('page');
                    }
                    return;
                });


            $('#search-button').click(function () {
                criteria = $('#searchForm :input').formToJson();
                orderDataTable.ajax.reload();
            })

        </script>

    </div>
</body>

</html>