<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	  layout:decorate="~{layout}">
<head>
	<title>Home</title>
</head>
<body>
<div layout:fragment="content">
	<div class="row mt-1 h-100">
		<div class="col-md-12 h-100">
			<div class="card h-100">
				<div class="card-body">

					<li
							class="list-group-item border-left-0  border-right-0 align-middle">
			                <h3 align="center">Order not Found</h3>
					</li>

				</div>
			</div>

			<li
					class="list-group-item border-left-0  border-right-0 justify-content-center text-center align-middle">
				<!-- <a class="btn btnbgcolor" th:href="@{#}"><span
                    th:text="#{label.menupage.news_center}">News-Center</span></a> -->
				<a class="btn btnbgcolor" th:href="@{#}"
				   sec:authorize="isAuthenticated()"> <i data-toggle="modal"
														 data-target="#exitModal" class="fa fa-arrow-up ml-2"><span style="margin-left : 5px"
						th:text="#{label.menupage.exit_program}"></span > Exit Program</i></a>
			</li>

		</div>
	</div>
	<script type="text/javascript" th:src="@{/static/js/lib.js}"></script>
</div>
</body>
</html>