<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	  layout:decorate="~{layout}">
<head>
	<title>Home</title>

</head>
<body>
<div layout:fragment="content">
	<div class="row mt-1 h-100">
		<div class="col-md-12 h-100">
			<div class="card h-100">
				<div class="card-body">

					<ul class="list-group">
						<li
								class="list-group-item border-left-0  border-right-0 align-middle">
							<!-- <span
                            th:text="#{label.menupage.greeting(${principal.username})}">Material</span> -->
							<span th:text="#{label.menupage.greeting_part1}">Hello</span> <span
								sec:authentication="principal.username"></span> <span
								th:text="#{label.menupage.greeting_part2}">! What can I
									do for you ?</span>
						</li>
						<li
								class="list-group-item border-left-0  border-right-0 justify-content-center text-center align-middle">
							<b> <span th:text="#{label.menupage.summary}">Plot
										summary</span></b>
						</li>
						<li class="list-group-item border-left-0  border-right-0">

							<div class="row">
								<div class="col-md-12 d-flex">
									<ul
											class="list-group blockquote list-inline mx-md-auto justify-content-center" style="display:block !important;">
										<li class="list-group-item border-0 row" style="float:left;width:130px;height:175px;margin:25px;"><a
												th:href="@{/orderdetails/create}" style="text-decoration:none; color:#000;">
											<img th:src="@{/static/images/create_order.png}" style="width: 130px;height: 130px; border-radius: 16px;
    		  background-color: #f7f8fa;  border: solid 1px #dbe1e8;  margin: 0 auto 5px; padding: 20px; transition: all 0.5s ease;  position: relative;"></img><br>
											<span
												class="ml-1" th:text="#{label.menupage.create_new_order}" style="text-align: center;
    		width:130px;display: block;font-size: 16px;  margin: 0px !important;  padding: 0px;">Create
															a new order</span></a> </li>

										<li class="list-group-item border-0 row" style="float:left;width:130px;height:175px;margin:25px;"><a
												th:href="@{/orderdetails(fromLink=${'search'})}" style="text-decoration:none; color:#000;">
											<img th:src="@{/static/images/search_order.png}" style="width: 130px;height: 130px; border-radius: 16px;
    		  background-color: #f7f8fa;  border: solid 1px #dbe1e8;  margin: 0 auto 5px; padding: 20px; transition: all 0.5s ease;  position: relative;"></img><br>
											<span
													class="ml-1" th:text="#{label.menupage.search_for_orders}" style="text-align: center;
    		width:130px;display: block;font-size: 16px;  margin: 0px !important;  padding: 0px;">Search
															for an order</span></a> </li>






										<!-- <li class="list-group-item border-0 row"><a th:href="@{#}"> <i
                                                class="fa fa-list-alt"><span class="ml-1"
                                                    th:text="#{label.menupage.my_orders_form}">my_orders_form</span></i></a></li> -->
										<li class="list-group-item border-0 row" style="float:left;width:130px;height:175px;margin:25px;"><a
												th:href="@{/orderdetails}" style="text-decoration:none; color:#000;"><img th:src="@{/static/images/my_orders.png}" style="width: 130px;height: 130px; border-radius: 16px;
    		  background-color: #f7f8fa;  border: solid 1px #dbe1e8;  margin: 0 auto 5px; padding: 20px; transition: all 0.5s ease;  position: relative;"><span
												class="ml-1" th:text="#{label.menupage.my_orders_table}" style="text-align: center;
    		width:130px;display: block;font-size: 16px;  margin: 0px !important;  padding: 0px;">My
															orders <!--(table)--></span></a></li>

										<li class="list-group-item border-0 row"  style="float:left;width:130px;height:175px;margin:25px;"><a
												th:href="@{/orderdetails(fromLink=${'Electrical Measurement'})}" style="text-decoration:none; color:#000;" >
											<img th:src="@{/static/images/measurement.png}" style="width: 130px;height: 130px; border-radius: 16px;
    		  background-color: #f7f8fa;  border: solid 1px #dbe1e8;  margin: 0 auto 5px; padding: 20px; transition: all 0.5s ease;  position: relative;"><span class="ml-1"
											th:text="#{label.menupage.electrical_measurement}" style="text-align: center;
    		width:130px;display: block;font-size: 16px;  margin: 0px !important;  padding: 0px;">Electrical measurement </span></a></li>



										<li class="list-group-item border-0 row" style="float:left;width:130px;height:175px;margin:25px;"><a
												th:href="@{/orderdetails(fromLink=${'Hotspot / IR / LC'})}" style="text-decoration:none; color:#000;">
											<img th:src="@{/static/images/hotspot.png}" style="width: 130px;height: 130px; border-radius: 16px;background-color: #f7f8fa;  border: solid 1px #dbe1e8;  margin: 0 auto 5px; padding: 20px; transition: all 0.5s ease;  position: relative;">
											<span class="ml-1"
												  th:text="#{label.menuage.hotspotp_ir/lc}" style="text-align: center;
    		width:130px;display: block;font-size: 16px;  margin: 0px !important;  padding: 0px;">Hotspot IR / LC </span></a></li>

										<li class="list-group-item border-0 row" style="float:left;width:130px;height:175px;margin:25px;"><a
												th:href="@{/orderdetails(fromLink=${'Chemical Preparation'})}" style="text-decoration:none; color:#000;">
											<img th:src="@{/static/images/chemical_prep.png}" style="width: 130px;height: 130px; border-radius: 16px;background-color: #f7f8fa;  border: solid 1px #dbe1e8;  margin: 0 auto 5px; padding: 20px; transition: all 0.5s ease;  position: relative;">

											<span class="ml-1" th:text="#{label.menupage.chemical_preparaion}" style="text-align: center;
    		width:130px;display: block;font-size: 16px;  margin: 0px !important;  padding: 0px;">Chemical Preparation</span></a></li>
									</ul>
								</div>
								<div class="col-md-12 d-flex">
									<ul
											class="list-group blockquote list-inline mx-md-auto justify-content-center" style="display:block !important;">







										<!-- <li class="list-group-item border-0 row"><a th:href="@{/orderdetails(fromLink=${'search'})}"> <i
                                                class="fa fa-table"><span class="ml-1"
                                                    th:text="#{label.menupage.open_orders_ex_service}">Open orders ext. service</span></i></a></li> -->
										<li class="list-group-item border-0 row" style="float:left;width:130px;height:175px;margin:25px;"><a
												th:href="@{/orderdetails(fromLink=${'REM / FIB / EDX'})}" style="text-decoration:none; color:#000;">
											<img th:src="@{/static/images/rem.png}" style="width: 130px;height: 130px; border-radius: 16px;background-color: #f7f8fa;  border: solid 1px #dbe1e8;  margin: 0 auto 5px; padding: 20px; transition: all 0.5s ease;  position: relative;">

											<span class="ml-1"
												  th:text="#{label.menupage.REM_FIB_EDX}" style="text-align: center;
    		width:130px;display: block;font-size: 16px;  margin: 0px !important;  padding: 0px;">REM / FIB / EDX</span></a></li>

										<li class="list-group-item border-0 row" style="float:left;width:130px;height:175px;margin:25px;"><a
												th:href="@{/orderdetails(fromLink=${'Cuts'})}" style="text-decoration:none; color:#000;">
											<img th:src="@{/static/images/cut.png}" style="width: 130px;height: 130px; border-radius: 16px;background-color: #f7f8fa;  border: solid 1px #dbe1e8;  margin: 0 auto 5px; padding: 20px; transition: all 0.5s ease;  position: relative;">

											<span class="ml-1"
												  th:text="#{label.menupage.Cuts}" style="text-align: center;
    		width:130px;display: block;font-size: 16px;  margin: 0px !important;  padding: 0px;">Mechanical Preparation</span></a></li>

										<li class="list-group-item border-0 row" style="float:left;width:130px;height:175px;margin:25px;"><a
												th:href="@{/orderdetails(fromLink=${'All New Orders'})}" style="text-decoration:none; color:#000;">
											<img th:src="@{/static/images/new_order.png}" style="width: 130px;height: 130px; border-radius: 16px;background-color: #f7f8fa;  border: solid 1px #dbe1e8;  margin: 0 auto 5px; padding: 20px; transition: all 0.5s ease;  position: relative;">
											<span class="ml-1"
																		 th:text="#{label.menupage.all_new_orders}" style="text-align: center;
    		width:130px;display: block;font-size: 16px;  margin: 0px !important;  padding: 0px;">All New orders</span>
										</a></li>


										<li class="list-group-item border-0 row "  style="float:left;width:130px;height:175px;margin:25px;"><a
												th:href="@{/orderdetails(fromLink=${'All Open Orders'})}" style="text-decoration:none; color:#000;">
											<img th:src="@{/static/images/open_order.png}" style="width: 130px;height: 130px; border-radius: 16px;background-color: #f7f8fa;  border: solid 1px #dbe1e8;  margin: 0 auto 5px; padding: 20px; transition: all 0.5s ease;  position: relative;">
											<span class="ml-1"
																		 th:text="#{label.menupage.all_open_oders}" style="text-align: center;
    		width:130px;display: block;font-size: 16px;  margin: 0px !important;  padding: 0px;">All open
															orders</span>
										</a></li>

										<li class="list-group-item border-0 row" style="float:left;width:130px;height:175px;margin:25px;"><a
												th:href="@{/orderdetails(fromLink=${'Evaluation Orders'})}" style="text-decoration:none; color:#000;">
											<img th:src="@{/static/images/order_eval.png}" style="width: 130px;height: 130px; border-radius: 16px;background-color: #f7f8fa;  border: solid 1px #dbe1e8;  margin: 0 auto 5px; padding: 20px; transition: all 0.5s ease;  position: relative;">
											<span class="ml-1"
																		 th:text="#{label.menupage.orders_for_evaluation}" style="text-align: center;
    		width:130px;display: block;font-size: 16px;  margin: 0px !important;  padding: 0px;">Orders
															for evaluation</span>
										</a></li>


										<li class="list-group-item border-0 row " style="float:left;width:130px;height:175px;margin:25px;"><a
												th:href="@{/orderdetails(fromLink=${'Orders Material /Info Missing'})}" style="text-decoration:none; color:#000;">
											<img th:src="@{/static/images/missing_info.png}" style="width: 130px;height: 130px; border-radius: 16px;background-color: #f7f8fa;  border: solid 1px #dbe1e8;  margin: 0 auto 5px; padding: 20px; transition: all 0.5s ease;  position: relative;">
											<span class="ml-1"
																		 th:text="#{label.menupage.order_material}" style="text-align: center;
    		width:130px;display: block;font-size: 16px;  margin: 0px !important;  padding: 0px;">Orders material / info is missing</span>
										</a></li>



									</ul>
								</div>

								<!-- <div class="col-md-4 d-flex">
                                    <ul
                                        class="list-group blockquote list-inline mx-md-auto justify-content-center">
                                        <li class="list-group-item border-0 row"><a th:href="@{#}"> <i
                                                class="fa fa-question-circle"><span class="ml-1"
                                                    th:text="#{label.menupage.oeperational_manual}">Operation manual</span></i></a></li>
                                        <li class="list-group-item border-0 row"><a th:href="@{#}"> <i
                                                class="fa fa-file-excel-o"><span class="ml-1"
                                                    th:text="#{label.menupage.statistics_fa_labor}">Statistics FA laboratory</span></i></a></li>
                                        <li class="list-group-item border-0 row"><a th:href="@{#}"> <i
                                                class="fa fa-table"><span class="ml-1"
                                                    th:text="#{label.menupage.call_up_fa_team_database}">Call up the FA team database</span></i></a></li>
                                        <li class="list-group-item border-0 row"><a th:href="@{#}"><span
                                                class="ml-1"></span></a></li>
                                    </ul>
                                </div> -->

							</div>
						</li>
						<li
								class="list-group-item border-left-0  border-right-0 justify-content-center text-center align-middle">
							<!-- <a class="btn btnbgcolor" th:href="@{#}"><span
                                th:text="#{label.menupage.news_center}">News-Center</span></a> -->
							<a class="btn btnbgcolor" th:href="@{#}"
							   sec:authorize="isAuthenticated()"> <i data-toggle="modal"
																	 data-target="#exitModal" class="fa fa-arrow-up ml-2"><span style="margin-left:5px"
																																th:text="#{label.menupage.exit_program}">Exit Program</span></i></a>
						</li>
					</ul>

				</div>
			</div>
			<div th:insert="modal :: modal"></div>
		</div>
	</div>


	<script type="text/javascript" th:src="@{/static/js/lib.js}"></script>
</div>
</body>
</html>