<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<body>
	<div th:fragment="modal">
		<!-- <div class="modal fade" id="order_deleteModal" tabindex="-1" role="dialog">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">Delete</h5>
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<p>Are you sure to delete this item?</p>
					</div>
					<div class="modal-footer">
						<a
							th:href="@{/orderdetails/delete/{id}(id=${_order.id})}"><button
								type="button" class="btn btn-success">Yes</button></a>
						<button type="button" class="btn btn-delete" data-dismiss="modal">No</button>
					</div>
				</div>
			</div>
		</div>
		<div class="modal fade" id="order_deleteModal" tabindex="-1" role="dialog">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">Delete</h5>
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<p>Are you sure to delete this item?</p>
					</div>
					<div class="modal-footer">
						<a
							th:href="@{/orderdetails/delete/{id}(id=${_order.id})}"><button
								type="button" class="btn btn-success">Yes</button></a>
						<button type="button" class="btn btn-delete" data-dismiss="modal">No</button>
					</div>
				</div>
			</div>
		</div> -->
		<div class="modal fade m-0" id="exitModal" tabindex="-1" role="dialog">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">
							<span th:text="#{label.exit}">Exit</span>
						</h5>
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<span th:text="#{label.exit_title}" >Do you want to exit?</span>

					</div>
					<div class="modal-footer">
						<a th:href="@{/logout}"><button type="button"
								class="btn btn-success">
								<span th:text="#{label.yes}">Yes</span>
							</button></a>
						<button type="button" class="btn btn-danger" data-dismiss="modal">
							<span th:text="#{label.no}">No</span>
						</button>
					</div>
				</div>
			</div>
		</div>
		<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog"
			tabindex="-1" id="myModal" class="modal fade">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title text-center">Compose</h4>
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<form role="form" class="form-horizontal">
							<div class="form-group">
								<label class="col-lg-3 control-label">To</label>
								<div class="col-lg-12">
									<input type="text" placeholder="" id="inputEmail1"
										class="form-control"></input>
								</div>
							</div>
							<div class="form-group">
								<label class="col-lg-3 control-label">Cc / Bcc</label>
								<div class="col-lg-12">
									<input type="text" placeholder="" id="cc" class="form-control"></input>
								</div>
							</div>
							<div class="form-group">
								<label class="col-lg-3 control-label">Subject</label>
								<div class="col-lg-12">
									<input type="text" placeholder="" id="inputPassword1"
										class="form-control"></input>
								</div>
							</div>
							<div class="form-group">
								<label class="col-lg-3 control-label">Message</label>
								<div class="col-lg-12">
									<textarea rows="10" cols="30" class="form-control" id=""
										name=""></textarea>
								</div>
							</div>

							<div class="form-group">
								<div class="col-lg-offset-2 col-lg-10">
									<span class="btn green fileinput-button"> <i
										class="fa fa-plus fa fa-white"></i> <span>Attachment</span> <input
										type="file" name="files[]" multiple="multiple"></input>
									</span>
									<button class="btn btn-primary" type="submit">Send</button>
								</div>
							</div>
						</form>
					</div>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal-dialog -->
		</div>
		<!-- /.modal -->
	</div>



	<div th:fragment="dataLossWarningModal">
		<div class="modal fade m-0" id="dataLossWarningModal" tabindex="-1"
			role="dialog">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">
							<span th:text="#{label.data_loss_warning_title}">Data Loss Warning</span>
						</h5>
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<p>
							<span th:text="#{label.data_loss_warning}">You are not
								saved data, you may loss it if you quit, Are you sure to Quit?</span>
						</p>
					</div>
					<div class="modal-footer">
						<a th:href="@{/home}"><button type="button"
								class="btn btn-success">
								<span th:text="#{label.yes}">Yes</span>
							</button></a>
						<button type="button" class="btn btn-danger" data-dismiss="modal">
							<span th:text="#{label.no}">No</span>
						</button>
					</div>
				</div>
			</div>
		</div>
		<div class="modal fade m-0" id="dataLossWarningModalAtCancel"
			tabindex="-1" role="dialog">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">
							<span th:text="#{label.data_loss_warning_title}">Data Loss Warning</span>
						</h5>
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<p>
							<span th:text="#{label.data_loss_warning}">You are not
								saved data, you may loss it if you cancel, Are you sure to
								cancel?</span>
						</p>
					</div>
					<div class="modal-footer">
						<a th:href="@{/orderdetails(fromLink=${'search'})}"><button type="button"
								class="btn btn-success">
								<span th:text="#{label.yes}">Yes</span>
							</button></a>
						<button type="button" class="btn btn-danger" data-dismiss="modal">
							<span th:text="#{label.no}">No</span>
						</button>
					</div>
				</div>
			</div>
			
		</div>
		<div class="modal fade m-0" id="dataLossWarningModalAtGeometry"
			tabindex="-1" role="dialog">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">
							<span th:text="#{label.data_loss_warning_title}">Data Loss Warning</span>
						</h5>
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<p>
							<span th:text="#{label.data_loss_warning}">You are not
								saved data, you may loss it if you cancel, Are you sure to
								cancel?</span>
						</p>
					</div>
					<div class="modal-footer">
						<a onclick="return ontabclick('TAB2')" ><button type="button"
								class="btn btn-success">
								<span th:text="#{label.yes}">Yes</span>
							</button></a>
						<button type="button" class="btn btn-danger" data-dismiss="modal">
							<span th:text="#{label.no}">No</span>
						</button>
					</div>
				</div>
			</div>
		</div>
		<div class="modal fade m-0" id="dataLossWarningModalAtOrder"
			tabindex="-1" role="dialog">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">
							<span th:text="#{label.data_loss_warning_title}">Data Loss Warning</span>
						</h5>
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<p>
							<span th:text="#{label.data_loss_warning}">You are not
								saved data, you may loss it if you cancel, Are you sure to
								cancel?</span>
						</p>
					</div>
					<div class="modal-footer">
						<a onclick="return ontabclick('TAB1')" ><button type="button"
								class="btn btn-success">
								<span th:text="#{label.yes}">Yes</span>
							</button></a>
						<button type="button" class="btn btn-danger" data-dismiss="modal">
							<span th:text="#{label.no}">No</span>
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	
		
</body>
</html>