<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head >
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />


  <meta
          content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
          name="viewport" />
  <link rel="stylesheet" type="text/css"
        th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />

  <link type="text/css" rel="stylesheet"
        th:href="@{/webjars/font-awesome/css/font-awesome.min.css}" />

  <link rel="stylesheet" type="text/css"
        th:href="@{/webjars/bootstrap/css/bootstrap-grid.min.css}" />

  <link rel="stylesheet" type="text/css"
        th:href="@{/webjars/datatables/1.10.19/css/dataTables.bootstrap4.min.css}" />

  <link rel="stylesheet" type="text/css"
        th:href="@{/webjars/datatables-buttons/1.6.1/css/buttons.dataTables.min.css}" />

  <link type="text/css" rel="stylesheet"
        th:href="@{/webjars/bootstrap-datepicker/css/bootstrap-datepicker.min.css}"></link>

  <link type="text/css" rel="stylesheet"
        th:href="@{/webjars/bootstrap-datepicker/css/bootstrap-datepicker3.min.css}"></link>

  <link type="text/css" rel="stylesheet"
        th:href="@{/webjars/select2/4.0.13/css/select2.min.css}"></link>

  <style>

        @page {
    @top-right {
        content: "Page " counter(page) " of " counter(pages);
        font-family: sans-serif;
        padding-right: 15px;
    }
}

.borderbox {
	padding: 10px;
	border: 1px solid gray;
	/* background: #d6e0f5; */
}

.iconborder {
	display: inline-block;
	border-radius: 5px;
	box-shadow: 0px 0px 2px gray;
	padding: 0.5em 0.6em;
	text-align: center;
}

.bs-example {
	margin: 20px;
}

.icon-input-btn {
	display: inline-block;
	position: relative;
}

.icon-input-btn input[type="submit"] {
	padding-left: 2em;
}

.icon-input-btn .glyphicon {
	display: inline-block;
	position: absolute;
	left: 0.65em;
	top: 30%;
}

/* .pagination-centered {
	text-align: center;
}
 */
.disabled {
	pointer-events: none;
	opacity: 0.5;
}

.pointer-disabled {
	pointer-events: none;
}

#position_select_div>input {
	margin: 15px;
}

.triangle-up {
	position: relative;
	margin-top: -10px;
	left: 110px;
	width: 0;
	height: 0;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 8px solid #555;
}

  .circle_border {
	text-align: center;
	border: 2px solid #555;
	border-radius: 50%;
	-webkit-border-radius: 50%;
    -moz-border-radius: 50%;
	white-space: nowrap;
	width: 240px;
	line-height: 6px;
}

button.dt-button, div.dt-button, a.dt-button {
	background-color: #007fc4;
	color: white;
	background-image: none;
}

    </style>
  <script type="text/javascript">
        function printPage() {
        window.print();
        }

    </script>
</head>

<body onload="printPage()">
<div class ="container">
  <div class = "row">


    <div class="col-6">
      <h3 style="margin-top:50px;"> Analysis report for Order id 2826 </h3>
    </div>
    <div class="col-6" >
      <img src="https://www.vishay.com/images/header/vishay-logo.png" style="float:right"/>
    </div>


  </div>
  <hr/>


  <table class="table table-borderless">

    <tbody>
    <tr>
      <th scope="row">Lot ID:</th>
      <td>S37D3431</td>
      <td>  </td>
      <td >    </td>
      <td  colspan="3">    </td>
      <th scope="row"></th>
      <td></td>
      <th scope="row">Geometrie:</th>
      <td>ANBLU60BDDDSSIZ</td>
    </tr>
    <tr>
      <th scope="row">Wafer Nr:</th>
      <td>n/a</td>
      <td> </td>
      <td >    </td>
      <td  colspan="3">    </td>
      <th scope="row"></th>
      <td></td>
      <th scope="row">Producktinfos:</th>
      <td>45 M TRENCHMOS</td>
    </tr>
    <tr>
      <th scope="row">Auftraggeber:</th>
      <td>nkobarow</td>
      <td> </td>
      <td >    </td>
      <td  colspan="3">    </td>
      <th scope="row">Tel:</th>
      <td>1212</td>
      <th scope="row">Pitch/T-Tiefe:</th>
      <td>S-3.8   1,6</td>

    </tr>

    <tr>
      <th scope="row">Auftragsdatum:</th>
      <td>28.06.2023</td>
      <td> </td>
      <td >    </td>
      <td  colspan="3">    </td>
      <th scope="row" ></th>
      <td></td>
      <th scope="row" >Metall/Pass/Pack:</th>
      <td>AC40CH L5N5 BW</td>
    </tr>


    <tr>
      <th scope="row">Probenmaterial:</th>
      <td>Modul</td>
      <td> </td>
      <td >    </td>
      <td colspan="3">   </td>
      <th scope="row"></th>
      <td class="break-text"></td>
      <th scope="row">Hinweis:</th>
      <td class="break-text">Some quick example text to build on the card text to build on the card .</td>

    </tr>

    <tr>
      <th scope="row">Priotitat:</th>
      <td>1</td>
      <td> </td>
      <td >    </td>
      <td  colspan="2">    </td>
      <td></td>
      <td></td>
      <td>  </td>
      <td>  </td>
    </tr>
    </tbody>
  </table>

  <hr/>
  <table class="table table-borderless">
    <tbody>

    <tr>
      <th scope="row">Prozesschritt:</th>
      <td>Vitesco</td>


    </tr>

    <tr>
      <th scope="row">Analysengrund:</th>
      <td>GSV35 test fail due to T6072 abnormal</td>


    </tr>

    <tr>
      <th scope="row">Baeschreibung:</th>
      <td>Bauteil T6072 -> check IGSS</td>

    </tr>


    <tr style="margin-top:50px;">
      <th scope="row">Position:</th>
      <td>
        <div class="row">

          <div class="col-5">
            <div id="position_select_div" class="circle_border">
              <!--<input class="form-check-input-reverse" type="checkbox" id ="1"
                     style="position: relative; left: 0px; top: 10px;"
                    ></input>-->
              <input id ="2"
                     class="form-check-input-reverse" type="checkbox"
              ></input>
              <!--<input id ="3"
                  class="form-check-input-reverse" type="checkbox"
                  style="position: relative; left: 0px; top: 10px;"
                  ></input>--> <br></br> <br></br>
              <input id ="4"
                     class="form-check-input-reverse" type="checkbox"
                     style="position: relative; left: 15px; top: -25px;"
              ></input>
              <input id ="5"
                     class="form-check-input-reverse" type="checkbox"
                     style="position: relative; left: 10px; top: 10px;"
              ></input>
              <input class="form-check-input-reverse" id ="6"
                     type="checkbox"></input>
              <input id="7"
                     class="form-check-input-reverse" type="checkbox"
                     style="position: relative; left: -10px; top: 10px;"
              ></input>
              <input id ="8"
                     class="form-check-input-reverse" type="checkbox"
                     style="position: relative; left: -15px; top: -25px;"
              ></input> <br></br> <br></br>
              <input id ="9"
                     class="form-check-input-reverse"  type="checkbox"
              ></input>
              <input class="form-check-input-reverse" id ="10"
                     type="checkbox" ></input> <input
                    class="form-check-input-reverse" type="checkbox"
            ></input>
              <input class="form-check-input-reverse" id ="11"
                     type="checkbox" ></input>
              <input
                      class="form-check-input-reverse" type="checkbox" id ="12"
              ></input> <br></br> <br></br>
              <input id ="13"
                     class="form-check-input-reverse" type="checkbox"
                     style="position: relative; left: 24px; top: 25px;"
              ></input>
              <input id ="14"
                     class="form-check-input-reverse" type="checkbox"
                     style="position: relative; left: 10px; top: -10px;"
              ></input>
              <input id ="15"
                     class="form-check-input-reverse" type="checkbox"
              ></input>
              <input id ="16"
                     class="form-check-input-reverse" type="checkbox"
                     style="position: relative; left: -10px; top: -10px;"
              ></input>
              <input class="form-check-input-reverse" id ="17"
                     type="checkbox" style="position: relative; left: -25px; top: 26px;"
              ></input> <br></br>
              <!--<input id ="18"
                  class="form-check-input-reverse" type="checkbox"
                  style="position: relative; left: 0px; top: -10px;"
                 ></input>-->
              <input id ="19"
                     class="form-check-input-reverse" type="checkbox"
              ></input>
              <!-- <input id ="20"
                   class="form-check-input-reverse" type="checkbox"
                   style="position: relative; left: 0px; top: -10px;"
                  ></input>-->

              <div class="triangle-up"></div>
            </div>
          </div>
          <div class="col-5">
            <div class="form-check">
              <label for="customCheck1"><span
              >See X-Check / Die Sort Map</span></label>
              <input class="form-check-input-reverse"
                     type="checkbox"
                     id="defaultCheck1"/>
              <label><span
              >Alternative Position Description</span><a href="#" data-toggle="tooltip"
                                                         data-placement="top" ><i
                      class="fa fa-info-circle ml-1" aria-hidden="true"></i> </a></label>

            </div>

          </div>
        </div>

      </td>
    </tr>

    <tr>

      <th scope="row">Methoden:</th>
      <td><div class="row">
        <div class="col-4">
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.

        </div>
      </div>
      </td>
    </tr>
    <tr>

      <th scope="row">Baeschreibung:</th>
      <td>Bauteil T6072 -> check IGSS</td>
    </tr>
    </tbody>
  </table>

  <hr/>


</div>
</body>
</html>

