<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head >
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />


  <meta
          content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
          name="viewport" />
  <link rel="stylesheet" type="text/css"
        th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />

  <link type="text/css" rel="stylesheet"
        th:href="@{/webjars/font-awesome/css/font-awesome.min.css}" />

  <link rel="stylesheet" type="text/css"
        th:href="@{/webjars/bootstrap/css/bootstrap-grid.min.css}" />

  <link rel="stylesheet" type="text/css"
        th:href="@{/webjars/datatables/1.10.19/css/dataTables.bootstrap4.min.css}" />

  <link rel="stylesheet" type="text/css"
        th:href="@{/webjars/datatables-buttons/1.6.1/css/buttons.dataTables.min.css}" />

  <link type="text/css" rel="stylesheet"
        th:href="@{/webjars/bootstrap-datepicker/css/bootstrap-datepicker.min.css}"></link>

  <link type="text/css" rel="stylesheet"
        th:href="@{/webjars/bootstrap-datepicker/css/bootstrap-datepicker3.min.css}"></link>

  <link type="text/css" rel="stylesheet"
        th:href="@{/webjars/select2/4.0.13/css/select2.min.css}"></link>

  <style>

        @page {
    @top-right {
        content: "Page " counter(page) " of " counter(pages);
        font-family: sans-serif;
        padding-right: 15px;
    }
}

.borderbox {
	padding: 10px;
	border: 1px solid gray;
	/* background: #d6e0f5; */
}

.iconborder {
	display: inline-block;
	border-radius: 5px;
	box-shadow: 0px 0px 2px gray;
	padding: 0.5em 0.6em;
	text-align: center;
}

#position_select_div>input {
	margin: 13px;

}


.circle_border {
	text-align: center;
	border: 2px solid #555;
	border-radius: 50%;
	-webkit-border-radius: 50%;
    -moz-border-radius: 50%;
	white-space: nowrap;
	width: 240px;
	line-height: 0px;
	margin-top : 70px;
}

.bs-example {
	margin: 20px;
}

.icon-input-btn {
	display: inline-block;
	position: relative;
}

.icon-input-btn input[type="submit"] {
	padding-left: 2em;
}

.icon-input-btn .glyphicon {
	display: inline-block;
	position: absolute;
	left: 0.65em;
	top: 30%;
}

/* .pagination-centered {
	text-align: center;
}
 */
.disabled {
	pointer-events: none;
	opacity: 0.5;
}

.pointer-disabled {
	pointer-events: none;
}

#position_select_div>input {
	margin: 15px;
}

.triangle-up {
	position: relative;
	margin-top: -10px;
	left: 110px;
	width: 0;
	height: 0;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 8px solid #555;
}

  .circle_border {
	text-align: center;
	border: 2px solid #555;
	border-radius: 50%;
	-webkit-border-radius: 50%;
    -moz-border-radius: 50%;
	white-space: nowrap;
	width: 242px;
	line-height: 3px;
	margin-top : 30px;
}

.table td, .table th {
  padding: 0.5rem;
  vertical-align: top;
}

button.dt-button, div.dt-button, a.dt-button {
	background-color: #007fc4;
	color: white;
	background-image: none;
}

    </style>
  <script type="text/javascript">
        function printPage() {
        window.print();
        }

    </script>
</head>

<body onload="printPage()">
<div class ="container" >
  <div class = "row">


    <div class="col-8" >
      <label style="margin-top:50px;font-weight: bold; font-size: 32px;" th:text="#{label.print.order.title}">  </label> <span style="font-weight: bold; font-size: 32px;" th:text="${orderDetails.id}"></span>
    </div>
    <div class="col-4" >
      <img src="https://www.vishay.com/images/header/vishay-logo.png" style="float:right"/>
    </div>


  </div>
  <hr/>


  <table class="table table-borderless">

    <tbody >
    <tr>
      <th scope="row" th:text="#{label.editpage.tab1.lot_id}">Lot ID:</th>
      <td th:text="${orderDetails.dbs_lotid}"></td>
      <td>  </td>
      <td >    </td>
      <td  colspan="3">    </td>
      <th scope="row"></th>
      <td></td>
      <th scope="row" th:text="#{label.editpage.tab2.geometry}">Geometry:</th>
      <td th:text="${orderDetails.dbs_part}"></td>
    </tr>
    <tr>
      <th scope="row" th:text="#{label.editpage.tab1.wafer_no}">Wafer No:</th>
      <td th:text="${orderDetails.dbs_wfr}"></td>
      <td> </td>
      <td >    </td>
      <td  colspan="3">    </td>
      <th scope="row"></th>
      <td></td>
      <th scope="row" th:text="#{label.print.order.product.information}">Product information:</th>
      <td> <span th:text="${part.part_cells}"></span> <span> M </span> <span th:text="${part.part_class}"></span> </td>
    </tr>
    <tr>
      <th scope="row" th:text="#{label.sCustomername}">Customer Name:</th>
      <td th:text="${orderDetails.dbs_ag_name}"></td>
      <td> </td>
      <td >    </td>
      <td  colspan="3">    </td>
      <th scope="row">Tel:</th>
      <td th:text="${personal_phone}"></td>
      <th scope="row" th:text="#{label.editpage.tab2.pitch_gm}">Pitch/T-Tiefe:</th>
      <td><span th:text="${part.part_pitch}"></span>  <span th:text="${part.part_calc}"></span> </td>

    </tr>

    <tr>
      <th scope="row" th:text="#{label.editpage.tab1.order_date}">Order date:</th>
      <td th:text="${orderDetails.dbs_fa_date}"></td>
      <td> </td>
      <td >    </td>
      <td  colspan="3">    </td>
      <th scope="row" ></th>
      <td></td>
      <th scope="row" th:text="#{label.editpage.tab2.geometry1}">Metall/Pass/Pack:</th>
      <td><span th:text="${part.part_metal}"></span> <span th:text="${part.part_pass}"></span> <span th:text="${part.part_pack}"></span></td>
    </tr>


    <tr>
      <th scope="row" th:text="#{label.editpage.tab1.type_of_sample_material1}">Probenmaterial:</th>
      <td th:text="${orderDetails.dbs_material}"></td>
      <td> </td>
      <td >    </td>
      <td colspan="3">   </td>
      <th scope="row"></th>
      <td class="break-text"></td>
      <th scope="row" th:text="#{label.editpage.tab2.editing_indication}">Hinweis:</th>
      <td th:text="${part.part_note}"></td>

    </tr>

    <tr>
      <th scope="row" th:text="#{label.editpage.tab1.Priority}">Priotitat:</th>
      <td th:text="${orderDetails.dbs_prio}"></td>
      <td> </td>
      <td >    </td>
      <td  colspan="2">    </td>
      <td></td>
      <td></td>
      <td>  </td>
      <td>  </td>
    </tr>
    </tbody>
  </table>

  <hr/>
  <table class="table table-borderless">
    <tbody>

    <tr>
      <th scope="row" th:text="#{label.editpage.tab1.current_processing_step1}">Prozesschritt:</th>
      <td th:text="${orderDetails.dbs_step}"></td>


    </tr>

    <tr>
      <th scope="row" th:text="#{label.editpage.tab3.analysis_basic}" style="width : 168px;">Analysengrund:</th>
      <td th:text="${orderDetails.dbs_fa_reason}"></td>


    </tr>

    <tr>
      <th scope="row" th:text="#{label.editpage.tab3.order_description}">Baeschreibung:</th>
      <td th:text="${orderDetails.dbs_fa_descr}"></td>

    </tr>


    <tr style="margin-top:150px;">
      <th scope="row">Position:</th>
      <td>
        <div class="row">

          <div class="col-5" style="padding-left:31px;padding-top:3px;padding-bottom:11px;">
            <div id="position_select_div" class="circle_border" th:object="${orderDetails}">

              <input id ="2"
                     class="form-check-input-reverse" type="checkbox"
                     th:field="*{dbs_pos_12}" onclick="return false;"></input>
              <!--<input id ="3"
                  class="form-check-input-reverse" type="checkbox"
                  style="position: relative; left: 0px; top: 10px;"
                  ></input>--> <br></br> <br></br>
              <input id ="4"
                     class="form-check-input-reverse" type="checkbox"
                     style="position: relative; left: 15px; top: -25px;"
                     th:field="*{dbs_pos_01}" onclick="return false;"></input>
              <input id ="5"
                     class="form-check-input-reverse" type="checkbox"
                     style="position: relative; left: 10px; top: 10px;"
                     th:field="*{dbs_pos_02}" onclick="return false;"></input>
              <input class="form-check-input-reverse" id ="6"
                     type="checkbox" th:field="*{dbs_pos_11}" onclick="return false;"></input>
              <input id="7"
                     class="form-check-input-reverse" type="checkbox"
                     style="position: relative; left: -10px; top: 10px;"
                     th:field="*{dbs_pos_20}" onclick="return false;"></input>
              <input id ="8"
                     class="form-check-input-reverse" type="checkbox"
                     style="position: relative; left: -15px; top: -25px;"
                     th:field="*{dbs_pos_13}" onclick="return false;"></input> <br></br> <br></br>
              <input id ="9"
                     class="form-check-input-reverse"  type="checkbox"
                     style="position: relative; right:13px;"
                     th:field="*{dbs_pos_14}" onclick="return false;"></input>
              <input class="form-check-input-reverse" id ="10"
                     type="checkbox" th:field="*{dbs_pos_15}" onclick="return false;"></input>
              <input
                      class="form-check-input-reverse" type="checkbox" style="margin: 13px;" th:field="*{dbs_pos_04}" onclick="return false;">
              </input>

              </input>
              <input class="form-check-input-reverse" id ="11"
                     type="checkbox" th:field="*{dbs_pos_18}" onclick="return false;"></input>
              <input
                      class="form-check-input-reverse" type="checkbox" id ="12"
                      style="position: relative; left:13px;"
                      th:field="*{dbs_pos_17}" onclick="return false;"></input> <br></br> <br></br>
              <input id ="13"
                     class="form-check-input-reverse" type="checkbox"
                     style="position: relative; left: 24px; top: 25px;"
                     th:field="*{dbs_pos_05}" onclick="return false;"></input>
              <input id ="14"
                     class="form-check-input-reverse" type="checkbox"
                     style="position: relative; left: 10px; top: -10px;"
                     th:field="*{dbs_pos_08}" onclick="return false;"></input>
              <input id ="15"
                     class="form-check-input-reverse" type="checkbox"
                     th:field="*{dbs_pos_21}" onclick="return false;"></input>
              <input id ="16"
                     class="form-check-input-reverse" type="checkbox"
                     style="position: relative; left: -10px; top: -10px;"
                     th:field="*{dbs_pos_10}" onclick="return false;"></input>
              <input class="form-check-input-reverse" id ="17"
                     type="checkbox" style="position: relative; left: -25px; top: 26px;"
                     th:field="*{dbs_pos_03}" onclick="return false;"></input> <br></br>
              <!--<input id ="18"
                  class="form-check-input-reverse" type="checkbox"
                  style="position: relative; left: 0px; top: -10px;"
                 ></input>-->
              <input id ="19"
                     class="form-check-input-reverse" type="checkbox"
                     th:field="*{dbs_pos_16}" onclick="return false;"></input>
              <div class="triangle-up"></div>
            </div>

          </div>
          <div class="col-5">
            <div class="form-check" style="padding-top:3.25rem;">
              <input class="form-check-input-reverse"
                     th:field="${orderDetails.dbs_pos_xcmap}"
                     type="checkbox"
                     onclick="return false;"
                     id="defaultCheck1"/>
              <label for="customCheck1"><span
              >See X-Check / Die Sort Map</span></label>

              <label><span th:text="${orderDetails.dbs_pos_text}"
              ></span></label>

            </div>

          </div>
        </div>

      </td>
    </tr>

    <tr>

      <th scope="row" th:text="#{table.header.analysis.method}">Methoden:</th>
      <td><div class="row">
        <div class="col-4" th:each="method : ${methods}">
          <p th:text="${method.name}"></p>
        </div>
      </div>
      </td>
    </tr>
    <tr>

      <th scope="row" th:text="#{label.editpage.tab6.samplestorage}">Probenverbleib:</th>
      <td th:text="${orderDetails.dbs_remain}"></td>
    </tr>
    </tbody>
  </table>

  <hr/>
 <div>
   <span th:text="${printDate}" style="float:right;"></span>
 </div>

</div>
</body>
</html>